{%  extends 'layout.html' %}

{%  block body %}

    <link href="/static/team.css" rel="stylesheet">

    <body class="text-center">
        <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover" align="justify">
                <h1 class="cover-heading" align="center">Backup Plans</h1>
                <p class="lead" >The AsTeR experience provides a tool to help the units on the ground to inform about the situation.
                Throught an app, they have just to spend few seconds to send the relevant information. </p>
                
                <p class="lead">The app has been created from the perspective of a firefighter. The use of the radio can be reinforced by 
                our aggregator of information.
                </p>
                <p class="lead">The backup button can be click anytime when the units need help on the ground. The communication will be
                directly set with some dispatchers to provide some backup the fast as possible. Even if the information has been 
                communicated through the radio, AsTeR will be a mean to give the perfect way for the backup to join the units and have 
                an impact on the situation.                         
            </main>
        </div>
    </body>

{% endblock %}
