{%  extends 'layout.html' %}

{%  block body %}

    <link href="/static/team.css" rel="stylesheet">

    <body class="text-center">
        <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover" align="justify">
                <h1 class="cover-heading" align="center">Call Analysis</h1>
                <p class="lead" >The AsTeR experience begins with the analysis of emergency calls to 911. We are using AI to understand 
                the calls and process our prioritization algorithm. </p>
                
                <p class="lead">During the IBM Call for Code hackathon at UC Berkeley, we decided that the first step of our disaster
                    manager platform will be the analysis of calls to 911 with a prioritization of emergency. The process can be described in few points:
                    <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    
                    <p> </p>
                    <p class="lead">Through speech-to-text technology of IBM Watson, we extract all the words in a conversation 
                            with their timing. With time, we are thinking that the conversion in real-time will be used in a lot
                            of call centers and we provide this solution for the emergency service.</p>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#33bb0a"/></svg>-->
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/static/img/about/analyzed_call_square_900900.jpg">
                </div>
            </div>
           
           <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-1">
                </div>
            <div class="col-md-6 order-md-4">
                
                <p class="lead"> We use Natural Language Processing (NLP) models to define a prioritization for the calls.
                            By extracting the main words of each sentence, we already have an idea of the topic and the location.
                            Running our model with these extracting words gives us a precised view of the situation without using the help of an human.</p>
            </div>

            <div class="col-md-4 order-md-2">
                <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff0d2f"/></svg>-->
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" src="/static/img/features/nlp_process.png">
            </div>
        </div>
        <hr class="featurette-divider">             
                    

     
                <p class="lead">The use of our system will provide an efficient way to compensate the lack of professionals in call centers 
                during a natural disaster. We are thinking that when the amount of calls to 911 will rise in few minutes, our system will 
                provide priorization for high emergency and help the work of the professionals on the ground. 
                </p>               
            </main>
        </div>
    </body>

{% endblock %}
