{%  extends 'layout.html' %}

{%  block body %}

    <link href="/static/team.css" rel="stylesheet">

    <body class="text-center">
        <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover" align="justify">
                <h1 class="cover-heading" align="center">Feedback Integration</h1>
                <p class="lead" >The AsTeR experience provides a tool to help the units on the ground to inform about the situation.
                Throught an app, they have just to spend few seconds to send the relevant information. </p>
                
                <p class="lead">The app has been created from the perspective of a firefighter. The use of the radio can be reinforced by 
                our aggregator of information. We listed several situations which have to be communicate as quickly as possible:</p>  
                    
                    <hr class="featurette-divider">
                        <div class="row featurette">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                        
                                <b>Blocked routes:</b> <p>When a truck can't go further or see a blocked route in the area, the information is immediately 
                                aggregate to change the trajectories of next trucks. We are focusing mainly on the natural disaster which could 
                                create some damages on the routes used for emergency.</p>
                                </li>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                            <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#33bb0a"/></svg>-->
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/static/img/features/blocked_route.jpg">
                        </div>
                    </div>

                    <hr class="featurette-divider">

                        <div class="row featurette">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4 order-md-4">
                            <p> </p>
                        <b>Danger in the area:</b> <p>When the unit using the app is victim or see a danger in the area. The current location will
                        be immediately saved in our database and will affect all the trajectories for other units.</p>
                        </div> 
                        <div class="col-md-1 order-md-3">
                            </div>
                        <div class="col-md-4 order-md-2">
                                <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff0d2f"/></svg>-->
                                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" src="/static/img/features/danger.jpg">
                            </div>
                        </div>
                       <hr class="featurette-divider"> 
                            <div class="row featurette">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                         <b>New victims:</b><p>When the unit find a new victim during the operation. They could click the button and if they have 
                         more time, the unit can save the personal information of the victim to be faster with the coordination between 
                         emergency services. </p>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                            <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#33bb0a"/></svg>-->
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/static/img/features/new_victims.jpg">
                        </div>
                    </div>
                          <hr class="featurette-divider">  
             

                    <div class="row featurette">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-6 order-md-4">
                            
                            <b>Image classification:</b><p>Pictures taken on the field by the rescue team. By passing them through image
                                        classification, encountered problems are automatically detected. It allows us to update
                                        the dispatching map (graph) in real-time, which is exploited via a Dijkstra algorithm for
                                        optimal trajectories determination.</p>
                        </div>
            
                        <div class="col-md-4 order-md-2">
                            <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff0d2f"/></svg>-->
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" src="/static/img/about/picture_classification.png">
                        </div>
                    </div>
                    <hr class="featurette-divider">  
            </main>
        </div>
    </body>

{% endblock %}
