{%  extends 'layout.html' %}

{%  block body %}

    <title>Register</title>

    <body class="text-center">
    <link href="/static/register.css" rel="stylesheet">

        <img class="logo" src="/static/img/logo.png" alt="Aster logo", width="10%" height="10%">
        <h1 class="cover-heading">Register</h1>
        <p>Please complete the information below to register.</p>
{#        {%  from 'includes/_formhelpers.html' import render_field %}#}
        <form class="form-register" method="POST" action="">
{#            <label for="inputName" class="sr-only">Name</label>#}
{#            <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" value="{{ request.form.name }}">#}
{#            <label for="inputEmail" class="sr-only">Email</label>#}
{#            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" value="{{ request.form.email }}">#}
{#            <label for="inputUsername" class="sr-only">Username</label>#}
{#            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" value="{{ request.form.username }}">#}
{#            <label for="inputPassword" class="sr-only">Password</label>#}
{#            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" value="{{ request.form.password }}">#}
{#            <label for="inputConfirm" class="sr-only">Confirm password</label>#}
{#            <input type="password" id="inputConfirm" name="confirm" class="form-control" placeholder="Confirm password" value="{{ request.form.confirm }}">#}

            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-auto">
                    <input type="text" id="inputName" name="name" class="form-control" aria-describedby="nameHelpInline" placeholder="Name" value="{{ request.form.name }}">
                </div>
{#                <small id="nameHelpInline" class="form-text text-muted">#}
{#                    Must be 8-20 characters long.#}
{#                </small>#}
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-auto">
                    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" value="{{ request.form.email }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputUsername" class="col-sm-2 col-form-label">Username:</label>
                <div class="col-auto">
                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" value="{{ request.form.username }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-auto">
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" value="{{ request.form.password }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputConfirm" class="col-sm-2 col-form-label">Confirm:</label>
                <div class="col-auto">
                    <input type="password" id="inputConfirm" name="confirm" class="form-control" placeholder="Confirm password" value="{{ request.form.confirm }}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
{#            <p><input type="submit" class="btn btn-primary" value="Register"></p>#}
        </form>
    </body>

{% endblock %}