{%  extends 'layout.html' %}

{%  block body %}

    <link href="/static/team.css" rel="stylesheet">

    <body class="text-center">
        <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover" align="justify">
                <h1 class="cover-heading" align="center">Unit Dispatching</h1>
                
                <p class="lead" >AsTeR is made to help the firefighters and the emergency forces on the ground. By leading them
                with the most efficient way, the rescues can be processed easily and even more securely than previously.
                </p>
                <p class="lead">During the IBM Call for Code hackathon at UC Berkeley, we decided to build a dispatcher 
                working in real-time including a lot of different information from the ground and from external platforms as weather
                </p>
                <p class="lead"> The dispatching at AsTeR is build with Djikstra algorithms providing the faster trajectories from
                the current location of the unit to the destination. The trajectories can be update in real time if the unit want it 
                or of new information appear in our database.
                <p class="lead"> The units are sharing their location in real time, which will give us a way to manage the different
                units on a specific area. After natural disasters, the efficiency of emergency services is possible if everyone have 
                the right information. AsTeR provide a convenient solution to manage a lot of units in the time during crisis. 
                </p>
            </main>
        </div>
    </body>

{% endblock %}
