pqdict==1.0.0
Flask_SQLAlchemy==2.4.0
folium==0.8.3
scipy==1.1.0
WTForms==2.2.1
tqdm==4.28.1
Shapely==1.6.4.post1
numpy==1.16.4
watson_developer_cloud==2.7.0
geopandas==0.4.1
joblib==0.13.0
seaborn==0.9.0
geojsoncontour==0.3.0
rev_ai==2.5.0
nltk==3.3
Flask_Mail==0.9.1
branca==0.3.1
Flask==1.0.2
matplotlib==3.0.2
passlib==1.7.1
Werkzeug==0.14.1
requests==2.21.0
ibm_watson==3.0.3
pandas==0.23.4
ipython==7.7.0
Pillow==6.1.0
protobuf==3.9.0
package==0.1.1
PyYAML==5.1.1
