# Author:  RADERMECKER Oskar, DINDIN Meryll
# Date:    09 July 2019
# Project: AsTeR

# Sensitive materials
configs/*

# Compiled package
__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Virtual environment components
venv/

# Other
.idea
