{%  extends 'layout.html' %}

{%  block body %}

    <title>Log in</title>

    <body class="text-center">
    <link href="/static/login.css" rel="stylesheet">

{#    <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column">#}
            <img class="logo" src="/static/img/logo.png" alt="Aster logo", width="10%" height="10%">
            <h1 class="cover-heading">Sign in</h1>
            <p>Fill in your credentials below to access your dashboard.</p>
            <form class="form-login" method="POST" action="">
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" value="{{ request.form.username }}">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" value="{{ request.form.password}}">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me (doesn't work yet)"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
{#    </div>#}
    </body>
{% endblock %}