{%  extends 'layout.html' %}

{%  block body %}

    <body>
    <link href="/static/team.css" rel="stylesheet">
    <main role="main">

        <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column">
            <h1 class="cover-heading" align="center">Let us introduce you to the team.</h1>
        </div>

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <svg width="140" height="140">
                        <defs>
                            <pattern id="image1" patternUnits="userSpaceOnUse" height="140" width="140">
                                <image x="0" y="0" height="140" width="140" xlink:href="/static/img/team/pierre-louis.png"></image>
                            </pattern>
                        </defs>
                        <circle id='top' cx="70" cy="70" r="70" fill="url(#image1)"/>
                    </svg>

                    <h2>Pierre-Louis Missler</h2>
                    <p>Good person</p>
                </div>

                <div class="col-lg-4">
                    <svg width="140" height="140">
                        <defs>
                            <pattern id="image2" patternUnits="userSpaceOnUse" height="140" width="140">
                                <image x="0" y="0" height="140" width="140" xlink:href="/static/img/team/thomas.jpg"></image>
                            </pattern>
                        </defs>
                        <circle id='top' cx="70" cy="70" r="70" fill="url(#image2)"/>
                    </svg>

                    <h2>Thomas Galeon</h2>
                    <p>Good person</p>
                </div>

                <div class="col-lg-4">
                       <svg width="140" height="140">
                        <defs>
                            <pattern id="image3" patternUnits="userSpaceOnUse" height="140" width="140">
                                <image x="0" y="0" height="140" width="140" xlink:href="/static/img/team/florian.jpg"></image>
                            </pattern>
                        </defs>
                        <circle id='top' cx="70" cy="70" r="70" fill="url(#image3)"/>
                    </svg>
                    <h2>Florian Fesch</h2>
                    <p>Good person</p>
                </div>

                <div class="col-md-6 col-centered">
                    <svg width="140" height="140">
                        <defs>
                            <pattern id="image4" patternUnits="userSpaceOnUse" height="140" width="140">
                                <image x="0" y="0" height="140" width="140" xlink:href="/static/img/team/meryll.png"></image>
                            </pattern>
                        </defs>
                        <circle id='top' cx="70" cy="70" r="70" fill="url(#image4)"/>
                    </svg>

                    <h2>Meryll Dindin</h2>
                    <p>Good person</p>
                </div>

                <div class="col-md-6 col-centered">
                    <svg width="140" height="140">
                        <defs>
                            <pattern id="image5" patternUnits="userSpaceOnUse" height="140" width="140">
                                <image x="0" y="0" height="140" width="140" xlink:href="/static/img/team/oskar.jpg"></image>
                            </pattern>
                        </defs>
                        <circle id='top' cx="70" cy="70" r="70" fill="url(#image5)"/>
                    </svg>

                    <h2>Oskar Radermecker</h2>
                    <p>Good person</p>
                </div>
            </div>
        </div>
    </main>
    </body>

{% endblock %}