
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 0rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
  width:100%;
  margin:auto;
  height:100%;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: #ffffff;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  width:100%;
  height: 100%;
}

.carousel-item > img {
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  top: 0;
  left: 0px;
  height: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-size:100% 100%;
  background-repeat: no-repeat;
}

.btn .btn-youtube{
     border: none;
     color: grey;
     padding: 12px 16px;
     font-size: 16px;
     cursor: pointer;
 }

 .btn:before .btn-youtube{
   content: url(/static/img/home/svg/youtube.svg);
   width: 20px;
   float: left;
   margin-right: 5px;
   margin-top: -2px;
 }

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.marketing .col-lg-4 .marketing-pics {
    margin-bottom: 1rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 550px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

.carousel-item {
  width:100%;
  height: auto;
}

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 1rem;
  }
}

.card-body {
  padding-bottom: 3rem;
  background-color: #f8f9fd;
  border-radius: 20px;
}


.vcenter {
    display: flex;
    align-items: center;
}
}