
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#emergency_map {
    height: 100%;
    width: 100%;
    margin: 0;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#legend {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    border: 1px #4f4c49;
    box-shadow: 1px 1px rgba(116, 112, 111, 0.44);
}
#legend h3 {
    margin-top: 0;
}
#legend img {
    vertical-align: middle;
}

#floating-panel {
    background: #fff;
    position: absolute;
    border-radius: 3px;
    top: 20%;
    width: 35px;
    margin-left: 10px;
    z-index: 5;
    border: 1px #4f4c49;
    text-align: center;
    line-height: 30px;
    font-family: Roboto,Arial,sans-serif;
}

.earthquake_button {
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px rgba(116, 112, 111, 0.44);
    color: #6e707e;
}

#map .earthquake_button {
    display: block;
}

.map-control {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    font-family: 'Roboto','sans-serif';
    margin: 10px;
    padding-right: 5px;
    /* Hide the control initially, to prevent it from appearing
       before the map loads. */
    display: none;
}
/* Display the control once it is inside the map. */
#map .map-control { display: block; }

.selector-control {
    font-size: 14px;
    line-height: 30px;
    vertical-align: baseline;
}