/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    height: auto;
    display: -ms-flexbox;
    /*display: flex;*!*/
    -ms-flex-align: center;
    align-items: center;
    /*padding-top: 40px;*/
    padding-bottom: 0px;
    /*padding-bottom: 3rem;*/
    background-color: #f5f5f5;
}

main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /*text-align:left;*/
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.marketing .col-lg-4 .marketing-pics {
    margin-bottom: 1rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0; 
/* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 1rem;
  }
}



/* control image height */
.card-img-top-250 {
    max-height: 230px;
    overflow:hidden;
    border-radius: 5px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 40%;
  height: 450px;
  margin-right: 10px;
  background: #f5f5f5;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  counter-increment: carousel-cell;
}

@media (max-width: 700px) {
.carousel-cell {
  width: 80%;
  }