/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    height: 100%;
    display: -ms-flexbox;
    /*display: flex;*!*/
    -ms-flex-align: center;
    align-items: center;
    /*padding-top: 40px;*/
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

main {
  /*padding-top: 3rem;*/
  padding-bottom: 3rem;
}


/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /*text-align:left;*/
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns */
.marketing .col-lg-4 {
  margin-top: auto;
  margin-bottom: 3rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
