<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-center" alt="logo_aster"> AsTeR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <style scoped>
            @media (max-width: 768px) {
                .navbar-dark .navbar-nav .active>.nav-link {
                    color: #000;}
                .navbar-dark .navbar-nav .nav-link {
                    color: rgba(0,0,0,.5);}
                .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
                    color: rgba(0,0,0,.75);
                }
            }
        </style>
        <ul class="navbar-nav mr-auto">
            <li {%- if request.path == "/home/" or request.path == "/"%} class="nav-item active" {% else %} class="nav-item"{% endif %}>
                <a class="nav-link" href="/">Home </a>
            </li>
            <li {%- if request.path == "/about"%} class="nav-item active" 
                {% else %} class="nav-item"{% endif %} >
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/Coricos/AsTeR"><img src="/static/img/home/github_logo.png"  width="15" height="15" class="d-inline-block align-center"> GitHub</a>
            </li>
            <li {% if "dashboard" in request.path %} class="nav-item text-nowrap active" {% else %} class="nav-item text-nowrap"{% endif %}>
                <a class="nav-link" href="/dashboard">Simulation</a>
            </li>
        </ul>
    </div>
</nav>

