{%  extends 'layout.html' %}

{%  block body %}

    <link href="/static/dashboard.css" rel="stylesheet">
    {% include 'dashboard/dashboard_layout.html' %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="cover-container" style="text-align: left">
                <h1>All dispatched units</h1>
            </div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <p class="lead">Here is a short description of the dashboard and some stats.</p>
                </div>
            </main>
        </div>
    </div>

{% endblock %}