{%  extends 'layout.html' %}

{%  block body %}

    <link href="/static/dashboard.css" rel="stylesheet">

    <main role="main" class="p-1 pl-3 ml-sm-auto px-4">
	    <div class="cover-container" style="text-align: left"><h1>Calls Received</h1></div>
	    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
	    
	    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
    </main>
{% endblock %}